<div class="side-menu">
  <div class="side-menu-header">
    <p>BRAINLY</p>
  </div>
  <div class="side-menu-body">
    <ul class="side-menu-options">
      <li class="side-menu-link">
        <a routerLink='/brainly/home' routerLinkActive='active'>
          <span>Inicio</span>
        </a>
      </li>
      <li class="side-menu-link">
        <a routerLink='/brainly/notificaciones' routerLinkActive='active'>
          <span>Notificaciones</span>
        </a>
      </li>
      <li class="side-menu-link">
        <a routerLink='/brainly/tutorias' routerLinkActive='active'>
          <span>Mis tutorías</span>
        </a>
      </li>
      <li class="side-menu-link">
        <a routerLink='/brainly/horario' routerLinkActive='active'>
          <span>Horario</span>
        </a>
      </li>
      <li class="side-menu-link">
        <a routerLink='/brainly/q&a' routerLinkActive='active'>
          <span>Preguntas frecuentes</span>
        </a>
      </li>
      <li class="side-menu-link">
        <a routerLink='/brainly/recordatorios' routerLinkActive='active'>
          <span>Recordatorios</span>
        </a>
      </li>
      <li class="side-menu-link">
        <a routerLink='/brainly/catalogo' routerLinkActive='active'>
          <span>Catálogo de tutorías</span>
        </a>
      </li>
      <li class="side-menu-link">
        <a routerLink='/brainly/configuracion' routerLinkActive='active'>
          <span>Configuración</span>
        </a>
      </li>
      <li id="logout">
        <a routerLink='/brainly/logout' routerLinkActive='active'>
          <span>Cerrar Sesión</span>
        </a>
      </li>
    </ul>
  </div>
</div>
