<div class="side-menu">


  <!-- User content -->
  <div class="user-details">
    <div class="user-img">
      <!-- <img src="" alt=""> -->
    </div>
    <p class="user-name">Mary Anne</p>
    <p class="user-type">Tutor</p>
  </div>


  <!-- Lessons Content -->
  <div class="lessons">

    <div class="lesson-details">
      <div class="lesson-color"></div>
      <div class="lesson-info">
        <p class="lesson-subject">Cálculo integral</p>
        <p class="lesson-hour">11:00 - 13:00</p>
      </div>
    </div>

    <div class="lesson-details">
      <div class="lesson-color"></div>
      <div class="lesson-info">
        <p class="lesson-subject">Cálculo integral</p>
        <p class="lesson-hour">11:00 - 13:00</p>
      </div>
    </div>

  </div>


</div>
