<div class="row top-right">
    <div class="col-xs-12 rid-padding">
        <div class="box">
            <img src="assets/svgs/inicio-top-right.svg" alt="Top Left SVG">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <p class="brainly-name">BRAINLY</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="col-xs-5 no-padding">
                    <div class="box">
                        <p><span class="slogan-blue">Otra forma de aprender,</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="slogan-black">enseñando</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="col-xs-7 slogan-container">
                    <div class="box">
                        <p class="text-info">Ayudar es la nueva forma de seguir creciendo, únete a la comunidad para compartir tu conocimiento o para solicitar apoyo</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="box">
                            <div class="row between-xs">
                                <div class="col-xs-12 col-sm-12 col-md-6">
                                    <div class="box">
                                        <button mat-raised-button class="sign-up">Registrarme</button>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6">
                                    <div class="box">
                                        <button mat-raised-button class="log-in">Iniciar Sesión</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row bottom-left">
    <div class="col-xs-12 rid-padding">
        <div class="box">
            <img src="assets/svgs/inicio-bottom-left.svg" alt="Top Left SVG">
        </div>
    </div>
</div>
