<div class="items row">

  <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3">
    <div class="item">
      <div class="item-header">
        <h4 class="item-subject">Cálculo Integral</h4>
        <p class="item-category">Matemáticas</p>
      </div>
      <div class="item-schedule">
        <div class="item-day">
          <p>Lunes</p>
        </div>
        <div class="item-time">
          <p>11:00 - 13:00</p>
        </div>
      </div>
      <a href="" class="more-info">Más información</a>
    </div>
  </div>

  <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3">
    <div class="item">
      <div class="item-header">
        <h4 class="item-subject">Cálculo Integral</h4>
        <p class="item-category">Matemáticas</p>
      </div>
      <div class="item-schedule">
        <div class="item-day">
          <p>Lunes</p>
        </div>
        <div class="item-time">
          <p>11:00 - 13:00</p>
        </div>
      </div>
      <a href="" class="more-info">Más información</a>
    </div>
  </div>

  <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3">
    <div class="item">
      <div class="item-header">
        <h4 class="item-subject">Cálculo Integral</h4>
        <p class="item-category">Matemáticas</p>
      </div>
      <div class="item-schedule">
        <div class="item-day">
          <p>Lunes</p>
        </div>
        <div class="item-time">
          <p>11:00 - 13:00</p>
        </div>
      </div>
      <a href="" class="more-info">Más información</a>
    </div>
  </div>

  <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3">
    <div class="item">
      <div class="item-header">
        <h4 class="item-subject">Cálculo Integral</h4>
        <p class="item-category">Matemáticas</p>
      </div>
      <div class="item-schedule">
        <div class="item-day">
          <p>Lunes</p>
        </div>
        <div class="item-time">
          <p>11:00 - 13:00</p>
        </div>
      </div>
      <a href="" class="more-info">Más información</a>
    </div>
  </div>

  <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3">
    <div class="item">
      <div class="item-header">
        <h4 class="item-subject">Cálculo Integral</h4>
        <p class="item-category">Matemáticas</p>
      </div>
      <div class="item-schedule">
        <div class="item-day">
          <p>Lunes</p>
        </div>
        <div class="item-time">
          <p>11:00 - 13:00</p>
        </div>
      </div>
      <a href="" class="more-info">Más información</a>
    </div>
  </div>

  <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3">
    <div class="item">
      <div class="item-header">
        <h4 class="item-subject">Cálculo Integral</h4>
        <p class="item-category">Matemáticas</p>
      </div>
      <div class="item-schedule">
        <div class="item-day">
          <p>Lunes</p>
        </div>
        <div class="item-time">
          <p>11:00 - 13:00</p>
        </div>
      </div>
      <a href="" class="more-info">Más información</a>
    </div>
  </div>

</div>


